body {
    background-color: #373636;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: #f7f7f7;
    position: absolute;
}

h1 {
    font-family: 'Staatliches', monospace, Arial, sans-serif;
    color: #f7f7f7;
    text-align: center;
    font-size: 140pt;
    margin: 50px;
    line-height: 0.76;
    text-transform: uppercase;
}

h2 {
    font-family: 'Staatliches', monospace, Arial, sans-serif;
    color: #f7f7f7;
    text-align: center;
    font-size: 40pt;
    margin: 50px;
    line-height: 0.76;
    text-transform: uppercase;
}

h3 {
    font-family: 'Staatliches', monospace, Arial, sans-serif;
    color: #f7f7f7;
    text-align: center;
    font-size: 30pt;
    margin: 50px;
    line-height: 0.76;
    text-transform: uppercase;
}

h2 img {
    margin-bottom: -16px;
    width:40px;
    display: inline-block;
}

h1 img {
    margin-bottom: -16px;
    width:100px;
    display: inline-block;
}

.centerdiv {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    margin: 70px;
    line-height: 1.6;
    font-weight: bold;
}

.centercontainer {
    margin: min(70px, 10%);
}

.propertext {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}

a 
{
    color:#f7f7f7;
    font-weight: bold;
    padding: 4px;
    margin: -4px;
}

a:hover 
{
    color:#373636;
    background-color: #f7f7f7;
}

blockquote {
    /* font-style: italic; */
    background-color: aliceblue;
    color: #111;
    padding: 2px 20px;
}

blockquote a 
{
    color:#373636;
    font-weight: bold;
    padding: 4px;
    margin: -4px;
}

blockquote a:hover 
{
    color:#000;
    background-color: #f7f7f7;
}